.markdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  * {
    box-sizing: border-box;
  }
  .title {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: 4px 20px;
    display: flex;
    .titleName {
      align-items: center;
      font-size: 18px;
      border: none;
      outline: none;
      font-weight: bold;
    }
  }
  .toolbar {
    background: #fff;
    min-height: 46px;
    padding: 11px 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    box-shadow: rgba(0, 21, 41, 0.08) 0 1px 4px;
    .actionIcon {
      color: rgba(0, 0, 0, 0.65);
      user-select: none;
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
      font-style: normal;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transform-origin: center;
      transition: color 300ms, transform 100ms;
      font-size: 14px;
      border-radius: 50%;
      &:hover {
        color: #40a9ff;
      }
      &:active {
        transform: scale(1.2);
      }
    }
    .extra {
      float: right;
      margin-left: 12px;
    }
  }
  .toolbarToggle {
    border-bottom: 1px solid #e8e8e8;
    height: 12px;
    transition: background-color 300ms;
    &:hover {
      background: rgba(166, 206, 252, 0.4);
    }
  }
  .content {
    position: relative;
    flex: 1;
    background: #fff;
    .writeContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      .waitingIcon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        color: #1890ff;
      }
      .inputAreaWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
      }
      .outputAreaWrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        padding: 30px;
        border-radius: 0 4px 4px 0;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-left: none;
        overflow: scroll;
      }
    }
  }
}
.themeListWrapper {
  min-width: 120px;
  user-select: none;
  .themeType {
    color: rgba(0, 0, 0, 0.45);
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
  }
  .themeList {
    margin-bottom: 0;
    width: 240px;
    overflow: hidden;
    & + .themeType {
      margin-top: 10px;
      border-top: 1px solid #e8e8e8;
    }
    dd {
      float: left;
      width: 120px;
      height: 32px;
      line-height: 22px;
      padding: 5px 12px 5px 20px;
      margin: 0;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        background: #e6f7ff;
      }
      &.active {
        background: #fafafa;
      }
    }
  }
}
